---
name: Manage Labels

on:
  workflow_dispatch:
  push:
    paths:
      - .github/labels.yml
      - .github/workflows/labels.yml

jobs:
  labeler:
    name: Manage Labels
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run GitHub Labeler
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
